.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
}

.menu {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-logo {
    font-family: 'Roboto Mono', sans-serif !important;
    color: #fff !important;
}

.menu-text {
    font-family: 'Roboto Mono', sans-serif !important;
    color: rgb(235, 50, 127) !important;
}

.nav-menu-icon {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.nav-icon {
    font-size: 28px;
    color: #fff;
}