@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Nunito, sans-serif !important;
}

.container {
  width: 100% !important;
  margin: 0 auto !important;
}

.container-login {
  width: 100% !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 15px !important;
  background-color: #111 !important;
}

.wrap-login {
  width: 390px !important;
  background-color: #333 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  padding: 77px 55px 33px 55px !important;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

.login-form {
  width: 100% !important;
  text-align: center !important;
}

.login-form-title {
  font-family: Nunito, sans-serif !important;
  display: block !important;
  font-size: 30px !important;
  color: azure !important;
  line-height: 1.2 !important;
  text-align: center !important;
  align-items: center !important;
}

.login-form-title img {
  width: 90px !important;
  align-items: center !important;
  text-align: center !important;
  
}

.wrap-input {
  width: 100% !important;
  position: relative !important;
  border-bottom: 2px solid #adadad !important;
  margin-bottom: 37px !important;
}

.input {
  font-size: 15px !important;
  color: #fff !important;
  line-height: 1.2 !important;
  border: none !important;
  display: block !important;
  width: 100% !important;
  height: 45px !important;
  background-color: transparent !important;
  padding: 0 5px !important;
  font-family: Nunito, sans-serif !important;
}

.focus-input {
  position: absolute !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  pointer-events: none !important;
  color: #adadad !important;
  font-family: Nunito, sans-serif !important;
}

.focus-input::before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  bottom: -2px !important;
  left: 0 !important;
  width: 0 !important;
  height: 2px !important;
  -webkit-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  transition: all 0.4s !important;
  background: #6a7dfe !important;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: -o-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: linear-gradient(to left, #21d4fd, #b721ff) !important;
}

.focus-input::after {
  font-family: Nunito, sans-serif !important;
  font-size: 15px !important;
  color: #999999 !important;
  line-height: 1.2 !important;
  content: attr(data-placeholder) !important;
  display: block !important;
  width: 100% !important;
  position: absolute !important;
  top: 16px !important;
  left: 0px !important;
  padding-left: 5px !important;
  -webkit-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

.input:focus {
  outline: 0 !important;
}

.input:focus+.focus-input::after {
  top: -15px !important;
}

.input:focus+.focus-input::before {
  width: 100% !important;
}

.has-val+.focus-input::after {
  top: -15px !important;
}

.has-val+.focus-input::before {
  width: 100% !important;
}

.container-login-form-btn {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  padding-bottom: 13px !important;
}

.login-form-btn {
  font-size: 15px !important;
  border: none !important;
  border-radius: 10px !important;
  color: #fff !important;
  line-height: 1.2 !important;
  text-transform: uppercase !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 50px !important;
  background: #6a7dfe !important;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: -o-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff) !important;
  background: linear-gradient(to left, #21d4fd, #b721ff) !important;
}

.login-form-btn:hover {
  cursor: pointer !important;
}

.text-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 50px !important;
}

.txt1 {
  font-size: 14px !important;
  color: #adadad !important;
  line-height: 1.5 !important;
  padding-right: 5px !important;
}

.txt2 {
  font-size: 14px !important;
  color: #6a7dfe !important;
  line-height: 1.5 !important;
  text-decoration: none !important;
}

.img_logo {
  align-items: center !important;
  text-align: center !important;
  width: 30% !important;
  padding-bottom: 5px;
}
