@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    /* justify-content: center;
    align-items: center !important; */
}

.container-sobre-one {
    display: flex;
    height: 100vh;
    width: 100%;
    /* text-align: center; */
    background-color: #fff;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    position: absolute;
    margin: 100px;
    z-index: 3;
    color: #fff;
    padding: 18px;
    height: 60%;
}

.texto-sobre h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
}

.texto-sobre p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 22px;
}

.background-sobre {
    background-image: url(./assets/modern-office-space-interior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: inline-block;
    /* opacity: 0.5; */
    z-index: 1;
}

.mask-background-sobre {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.box22 {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(102, 100, 107);
}

.grid-form-sobre {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

/* .container-left-box-sobre-form {
    background-image: url(./assets/contato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
} */

.container-left-box-sobre-form img {
    height: 100px;
}

.container-rigth-box-sobre-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.box-sobre-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-sobre-form form input {
    width: 340px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 8px;
    font-family: 'Noto Sans', sans-serif;
}

.botao {
    font-family: 'Noto Sans', sans-serif !important;
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.text-decorator-none {
    text-decoration: none !important;
}

.box-sobre-form-titulo {
    font-family: 'Noto Sans', sans-serif;
}

/* .texto {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    text-align: center;
    padding: 50px;
    font-size: 30px !important;
}

.textos2 {
    font-family: 'Teko', sans-serif !important;
} */