.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.box11 {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #9ae9e9;
}

.box22 {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(102, 100, 107);
}

.box33 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: grey;
}

.form {
    width: 60vw;
}

.botao {
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff);
}

.text-decorator-none {
    text-decoration: none !important;
}

.texto {
    padding: 20px;
    color: black !important;
}
